    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dynamic work tasks, checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{baseURL}/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('date', 'Date');
            dataTable.addColumn('number', '{checkpoint_name}');
            dataTable.addRows([
            {#rows}
                [new Date({date}),{measured_value}]{comma_sign}
            {/rows}
            ]);

            var options = {title: '{checkpoint_name}'};

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(dataTable, options);
        }
    </script>
</head>

<body>

<div class="container">

	<div class="page-header">
		<h3>Dynamic work tasks, checklist</h3>
	</div>
	<ul class="nav nav-pills">
		<li>
    		<a href="{baseURL}/active_checkpoints_list">Data input</a>
    	</li>
    	<li class="active">
    		<a href="{baseURL}/view_checkpoints_list">Admin</a>
		</li>
		<li  class="pull-right">
    		<a href="{baseURL}/add_checkpoint_show">Add new checkpoint</a>
		</li>
	</ul>

	<hr>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="muted">{checkpoint_name}</h3>
        </div>
    </div>

    <hr>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <hr>

    <div class="footer">
        <p>&copy; magnus.akerman@chalmers.se (2013)</p>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{baseURL}/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{baseURL}/modules.js"></script>
</body>
</html>




