<form class="form-horizontal" role="form" method="POST" action="{baseURL}/edit_checkpoint_update{^newCheckpoint}/{doc._id}{/newCheckpoint}">
    <fieldset>
        <legend>{?newCheckpoint}Add{/newCheckpoint}{^newCheckpoint}Edit{/newCheckpoint} Checkpoint</legend>

        <div class="form-group">
            <label for="checkpoint_name" class="control-label col-sm-2">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="checkpoint_name" name="checkpoint_name" {?newCheckpoint}placeholder="Checkpoint name"{/newCheckpoint} {^newCheckpoint}{?doc}value="{doc.checkpoint_name}"{/doc}{/newCheckpoint}/>
            </div>
        </div>

        <div class="form-group">
            <label for="order_nr" class="control-label col-sm-2">Order of checkpoint</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="order_nr" name="order_nr" min="1" max="1000" value="{?newCheckpoint}1{/newCheckpoint}{^newCheckpoint}{doc.order_nr}{/newCheckpoint}"/>
            </div>
        </div>

        <div class="form-group">
            <hr class="col-sm-offset-2 col-sm-6">
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Time between updates</label>
            <label for="time_days" class="control-label col-sm-1">Days:</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" id="time_days" name="time_days" min="0" value="{?newCheckpoint}1{/newCheckpoint}{^newCheckpoint}{doc.time_days}{/newCheckpoint}">
            </div>
            <label for="time_hours" class="control-label col-sm-1">Hours:</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" id="time_hours" name="time_hours" min="0" max="23" value="{?newCheckpoint}0{/newCheckpoint}{^newCheckpoint}{doc.time_hours}{/newCheckpoint}">
            </div>
        </div>
        <div class="form-group">

            <label for="exclude_weekends" class="control-label col-sm-2">Exclude weekends</label>
            <div class="col-sm-2">
                <input class="form-control" type="checkbox" id="exclude_weekends" name="exclude_weekends" min="0" max="23" {?doc.exclude_weekends}checked="checked"{/doc.exclude_weekends}">
            </div>
        </div>

        <div class="form-group">
            <hr class="col-sm-offset-2 col-sm-6">
        </div>

        <div class="form-group">
            <label for="description" class="control-label col-sm-2">Description</label>
            <div class="col-sm-6">
                <textarea rows="3" class="form-control" id="description" name="description" {?newCheckpoint}placeholder="Description"{/newCheckpoint}>{?doc}{doc.description}{/doc}</textarea>
            </div>
        </div>

        <div class="form-group">
            <hr class="col-sm-offset-2 col-sm-6">
        </div>

        <div class="form-group">
            <label for="error_tag_1" class="control-label col-sm-2">Error tag 1</label>
            <div class="col-sm-2">
                <input id="error_tag_1" name="error_tag_1" type="text" class="form-control"
                       value="{?doc.error_tag_1}{doc.error_tag_1}{/doc.error_tag_1}"/>
            </div>

            <label for="error_tag_2" class="control-label col-sm-2">Error tag 2</label>
            <div class="col-sm-2">
                <input id="error_tag_2" name="error_tag_2" type="text" class="col-sm-4 form-control"
                       value="{?doc.error_tag_2}{doc.error_tag_2}{/doc.error_tag_2}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="error_tag_3" class="control-label col-sm-2">Error tag 3</label>
            <div class="col-sm-2">
                <input id="error_tag_3" name="error_tag_3" type="text" class="col-sm-4 form-control"
                       value="{?doc.error_tag_3}{doc.error_tag_3}{/doc.error_tag_3}"/>
            </div>

            <label for="error_tag_4" class="control-label col-sm-2">Error tag 4</label>
            <div class="col-sm-2">
                <input id="error_tag_4" name="error_tag_4" type="text" class="col-sm-4 form-control"
                       value="{?doc.error_tag_4}{doc.error_tag_4}{/doc.error_tag_4}"/>
            </div>
        </div>

        <div class="form-group">
            <hr class="col-sm-offset-2 col-sm-6">
        </div>

        <div class="form-group">
            <label for="action_tag_1" class="control-label col-sm-2">Action tag 1</label>
            <div class="col-sm-2">
                <input id="action_tag_1" name="action_tag_1" type="text" class="form-control"
                       value="{?doc.action_tag_1}{doc.action_tag_1}{/doc.action_tag_1}"/>
            </div>

            <label for="action_tag_2" class="control-label col-sm-2">Action tag 2</label>
            <div class="col-sm-2">
                <input id="action_tag_2" name="action_tag_2" type="text" class="col-sm-4 form-control"
                       value="{?doc.action_tag_2}{doc.action_tag_2}{/doc.action_tag_2}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="action_tag_3" class="control-label col-sm-2">Action tag 3</label>
            <div class="col-sm-2">
                <input id="action_tag_3" name="action_tag_3" type="text" class="col-sm-4 form-control"
                       value="{?doc.action_tag_3}{doc.action_tag_3}{/doc.action_tag_3}"/>
            </div>

            <label for="action_tag_4" class="control-label col-sm-2">Action tag 4</label>
            <div class="col-sm-2">
                <input id="action_tag_4" name="action_tag_4" type="text" class="col-sm-4 form-control"
                       value="{?doc.action_tag_4}{doc.action_tag_4}{/doc.action_tag_4}"/>
            </div>
        </div>

        <div class="form-group">
            <hr class="col-sm-offset-2 col-sm-6">
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" id="submit_checkpoint" class="btn btn-default">
                    Submit
                </button>
            </div>
        </div>
    </fieldset>
</form>

<br>

{?doc}
{?attached_image}

    <div class="col-sm-offset-2 col-sm-10">
        <img src="/{db_name}/{doc._id}/{attached_image}">
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button id="deleteImage" type="submit" class="btn btn-error" onclick="deleteImageFunc()">
            Change image
        </button>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <p id="ajaxResult"></p>
    </div>

<script>
    function deleteImageFunc()
    {
        $.ajax({
            url:"/{db_name}/{doc._id}/{attached_image}?rev={doc._rev}",
            type: "delete",
            success:function(result){
                window.location.replace("{baseURL}/edit_checkpoint_show/{doc._id}");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#ajaxResult").html(errorThrown);
            }
        });
    }
</script>
{/attached_image}
{^attached_image}
<div class="col-sm-offset-2 col-sm-10">
    <form action="/{db_name}/{doc._id}" method="post" id="upload" enctype="multipart/form-data">
        <input id="revision" type="hidden" name="_rev" value="{doc._rev}"/>
        <input id="id" type="hidden" name="_id" value="{doc._id}"/>
        <input id="attachment" type="file" name="_attachments"/>
        <input type="submit" id="submit_image" value="Upload image"/>
    </form>
</div>

<script>
    $(document).ready(function()
     {
         $("#upload").submit(function( event ) {
             event.preventDefault();

             $("#upload").ajaxSubmit({
                 success:function (response) {
                     window.location.replace("{baseURL}/edit_checkpoint_show/{doc._id}");
                 },
                 error:function (a, b, c) {
                     var x = JSON.parse(a);
                     alert("Error : " + x + ", b:" + b);
                     window.location.replace("{baseURL}/edit_checkpoints_list");
                 }
             });
         });
    });
</script>
{/attached_image}
{/doc}
